body {
	color: white;
	background-color: #292b2c;
	padding: 0;
}
h1 {
	text-align: center;
}
a {
	color: #999;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr.gradient {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	width: 364px;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.piano {
	font-size: 0;
	margin: auto;
	background: black;
	height: 152px;
	width: 364px;
	padding: 5px;
	border: 1px solid white;
	white-space: nowrap;
}
.red-bar {
	background-color: #9C0000;
	position: absolute;
	height: 2px;
	width: 362px;
	margin-left: 1px;
	margin-top: 1px;
}
.white-row {
	position: absolute;
	height: 0px;
}
.black-row {
	position: absolute;
	height: 0px;
}
.white-key {
	position: relative;
	display: inline-block;
	background-color: white;
	width: 50px;
	height: 150px;
	margin: 1px;
	transition: all 0.2s;
}
.white-key:hover {
	background-color: #aaaaaa;
}
.white-key:active, .white-key.active {
	background-color: #999999;
}
.black-key {
	position: relative;
	display: inline-block;
	background-color: black;
	width: 30px;
	height: 120px;
	margin-top: 1px;
	transition: all 0.2s;
}
.black-key:hover {
	background-color: #444444;
}
.black-key:active, .black-key.active {
	background-color: #333333;
}
.instructions {
	margin-top: 30px;
	text-align: center;
}
.footer {
	margin-top: 30px;
	text-align: center;
}